@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.wave {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.bar {
  width: 8px;
  height: 40px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .wave {
    gap: 4px;
  }
  .bar {
    width: 6px;
    height: 30px;
  }
}